.form-personal-details {
    width: 50%;
    padding: 0px 20px;
    margin: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

.details {
    float: right;
    width: 45%;
    padding: 0px 20px;
    margin: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

#enter-fname, #enter-lname, #enter-dob, #enter-address,
#enter-phone, #enter-email, #idpicker, #enter-password {
    width: 50%;
    padding: 1px 10px;
    margin: 12px 15px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label-form {
    width: 100%;
    padding: 1px 10px;
    margin: 12px 0px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.submit-button {
    left: 35%;
    top: -5px;
    appearance: none;
    backface-visibility: hidden;
    background-color: #7CB9E8;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.submit-button:hover {
    background-color: #8dc2eb;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.submit-button:hover:after {
    opacity: .5;
}

.submit-button:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

.submit-button:active:after {
    opacity: 1;
}

@media (min-width: 768px) {
    .submit-button {
        padding: 14px 22px;
        width: 176px;
    }
}


.Pdheader{

    padding: 0px;
    font-size: 25px;
    border-radius: 25px;
    margin: 5px;
    align-items: center;
    text-align: center;

}

.details {
    padding: 20px;
    background-color: #8dc2eb;
}

.saveddetails{
    padding: 10px;
    margin: 20px;
    text-align: center;

}